@import 'colors';

.page-title {
  margin-top: 7% !important;
  margin-bottom: 5% !important;
  font-size: 4em !important;
}

#searchbox {
  width: 100%;
  input {
    border-color: $light_green;
    border-width: 2px;
  }
}

#results-div {
  margin-top: 3%;
}

#endOfList {
  margin-top: 5%;
  margin-bottom: 10%;
}

.github-icon {
  margin-left: 5px !important;
}

.github-button {
  margin-left: 10px !important;
}
